{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container text-center">
    <br><br>
    <div class="row">
        <div class="col-6">
            <h1 style="color:#4E9CAF;">Applicant</h1>
            <br>
            <div class="container">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <table  style="margin-left: auto; margin-right: auto;">
                    <div>
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                    </div>
                    </table>
                    <br>  
                    <input type="submit" class="btn btn-primary btn-lg text-center a_btn" 
                        style="border-color:rgba(0,0,0,0.0);" value="Log In"/>
                    <br>
                    <a href="http://127.0.0.1:8000/login/signup/Applicant" style="width: 25%;">
                        <input type="button" type="submit" class="btn btn-primary btn-lg text-center a_btn text-decoration-none" 
                        style="border-color:rgba(0,0,0,0.0);" name="next" value="Sign Up"/>
                    </a>
                </form>
            </div>
        </div> 
        <div class="col-6">
            <h1 style="color:#F5B95A;">Employer</h1>
            <br>
            <div class="container">
                <form  method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <table  style="margin-left: auto; margin-right: auto;" >
                    <div>
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                    </div>
                    </table>
                    <br>
                    <input style="width: 25%;border-color:rgba(0,0,0,0.0);" type="submit" class="btn btn-primary btn-lg text-center font-weight-bold" value="Log In" />
                    <br><br>
                     <a href="http://127.0.0.1:8000/login/signup/Employer" style="width: 25%;">
                        <input type="button" type="submit" class="btn btn-primary btn-lg text-center text-decoration-none font-weight-bold" 
                        style="border-color:rgba(0,0,0,0.0);" name="next" value="Sign Up"/>
                    </a>
                </form>
            </div>
        </div>
    </div> 
    <br><br><br><br><br><br><br><br><br><br>
</div> 
{% endblock %}
    



