{% extends 'base.html' %}
{% block content %}
<header class="masthead">

    <form name="form" method="post" action="{% url 'search' %}">
        {% csrf_token %}
        <input type="text" name='search' placeholder="search" id='search'>
    </form>


    <div class="container">
        {% for f in featured %}
            <a href='http://127.0.0.1:8000/listings/post/job_title/joblisting_id/'></a>
        {% endfor %}  
    </div>
    <div class="container">
        {% for s in searched %}
            <a href='http://127.0.0.1:8000/listings/post'></a>
        {% endfor %}  
    </div>
</header>


{% endblock %}