{% extends 'base.html' %}
{% block content %}
<header class="masthead">

    <form name="form" method="post" action="{% url 'search' %}">
        {% csrf_token %}
        <input type="text" name='search' placeholder="search" id='search'>
        <a class="btn btn-primary btn-sm" id='search-button' onclick="" ><i class="fa fa-search"></i></a>
    </form>
    <br><br>

    {% if user.groups.all.0.name == 'employer' %} 
    <li class="nav-item"><a class="btn btn-primary btn-lg text-uppercase text-center" href="http://127.0.0.1:8000/addjob/">Add Job</a></li>
    {% endif %}
    {% if message == 'feat' %}
    <div class="containter bg-light"> 
        <br>
        <h4 class="text-left" style="color:#296F90; padding-left: 30px;">Featured Listings</h4>
        <ul class="text-left"  style="list-style-type: none;">
            {% for f in featured %} 
                    <li>
                        <article>
                            <h5 class='' style="color: #F5B95A;"><a href="{% url 'post' job_title=f.job_title jobListing_id=f.id %}">{{ f.job_title }}</a></h5> 
                            <div class="conatiner">
                                {% if user.groups.all.0.name == 'applicant' %} 
                                    <div class="row">
                                        <div class="col-3">
                                            <p>Employer: {{f.employer}}</p>
                                        </div>
                                        <div class="col-3">
                                            <p>Location: {{f.job_city}}, {{f.job_state}}</p>
                                        </div>
                                        <div class="col-3">
                                            <p>Wage: {{f.job_wage_range}}</p>
                                        </div>
                                        <div class="col-3">
                                            <p>Deadline: {{f.deadline_date}}</p>
                                        </div>
                                    </div>
                                {% elif user.groups.all.0.name == 'employer' %} 
                                    <div class="row">
                                        <div class="col-4">
                                            <p>Employer: {{f.employer}}</p>
                                        </div>
                                        <div class="col-4">
                                            <p>Location: {{f.job_city}}, {{f.job_state}}</p>
                                        </div>
                                        <div class="col-4">
                                            <p>Wage: {{f.job_wage_range}}</p>
                                        </div>
                                        <div class="col-4">
                                            <p>Deadline: {{f.deadline_date}}</p>
                                        </div>
                                        <div class="col-4">
                                            <a class="btn btn-primary btn-sm" href='http://127.0.0.1:8000/addjob/{{f.id}}'>Edit</a>
                                        </div>
                                        <div class="col-4">
                                            <form name="joblisting" method="post" action="{% url 'removeListing' %}" >
                                            {% csrf_token %}
                                                <input hidden name='remove_id' id='remove_id' value = {{f.id}}>
                                                <button class="btn btn-primary btn-sm" type = "submit">Delete</button>
                                            <form>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="row">
                                        <div class="col-2">
                                            <p>Employer: {{f.employer}}</p>
                                        </div>
                                        <div class="col-2">
                                            <p>Location: {{f.job_city}}, {{f.job_state}}</p>
                                        </div>
                                        <div class="col-2">
                                            <p>Deadline: {{f.deadline_date}}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </article>
                    <li>
                    <br>
            {% endfor %}  
            </ul
    </div>
    {% else %}
    <div class="containter bg-light"> 
        <br>
        <h4 class="text-left" style="color:#296F90; padding-left: 30px;">Searched Listings</h4>
            <ul class="text-left"  style="list-style-type: none;">
            {% for s in searched %} 
                    <li>
                        <article>
                            <h5 class='' style="color: #F5B95A;"><a href="{% url 'post' job_title=s.job_title jobListing_id=s.id %}">{{ s.job_title }}</a></h5> 
                            <div class="conatiner">
                                {% if user.groups.all.0.name == 'applicant' %} 
                                    <div class="row">
                                        <div class="col-3">
                                            <p>Employer: {{s.employer}}</p>
                                        </div>
                                        <div class="col-3">
                                            <p>Location: {{s.job_city}}, {{s.job_state}}</p>
                                        </div>
                                        <div class="col-3">
                                            <p>Wage: {{s.job_wage_range}}</p>
                                        </div>
                                        <div class="col-3">
                                            <p>Deadline: {{s.deadline_date}}</p>
                                        </div>
                                    </div>
                                {% elif user.groups.all.0.name == 'employer' %} 
                                    <div class="row">
                                        <div class="col-4">
                                            <p>Employer: {{s.employer}}</p>
                                        </div>
                                        <div class="col-4">
                                            <p>Location: {{s.job_city}}, {{s.job_state}}</p>
                                        </div>
                                        <div class="col-4">
                                            <p>Wage: {{s.job_wage_range}}</p>
                                        </div>
                                        <div class="col-4">
                                            <p>Deadline: {{s.deadline_date}}</p>
                                        </div>
                                        <div class="col-4">
                                            <a href='http://127.0.0.1:8000/addjob/{{s.id}}'>Edit</a>
                                        </div>
                                        <div class="col-4">
                                            <form name="joblisting" method="post" action="{% url 'removeListing' %}" >
                                            {% csrf_token %}
                                                <input hidden name='remove_id' id='remove_id' value = {{s.id}}>
                                                <button type = "submit">Delete</button>
                                            <form>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="row">
                                        <div class="col-2">
                                            <p>Employer: {{s.employer}}</p>
                                        </div>
                                        <div class="col-2">
                                            <p>Location: {{s.job_city}}, {{s.job_state}}</p>
                                        </div>
                                        <div class="col-2">
                                            <p>Deadline: {{s.deadline_date}}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </article>
                    <li>
                    <br>
            {% endfor %}  
            </ul>
    </div>
    {% endif %}
</header>


{% endblock %}