{% extends 'base.html' %}
{% block content %}

    {% if user.is_authenticated %}
    <div class="container">
        <h3 style="color: #296F90;"> {{ job_object.job_title }} </h3>
        <div class="row">
            <div class="col-sm-2">
                <p> Location: {{job_object.job_city}},  {{job_object.job_state}}</p>
            </div>
            <div class="col-sm-2">
            <p> Close Date: {{job_object.deadline_date}}</p>
            </div>
        </div>
        <a class="btn btn-primary btn-lg text-uppercase text-center" 
            href={{job_object.job_link_to_application}} target = "_blank" onclick="displayChoice()">Apply</a>
        <br><br>
        <div class="row">
            <fieldset class="col-sm" id="choice" hidden>
                <label for="yesOrNo">Did you complete the application?</label>
                <a href="{% url 'externalsurvey' %}" ><input type="button" class="btn btn-primary btn-sm text-uppercase text-center" 
                    value="Yes"></a>
                <input type="button" class="btn btn-primary btn-sm text-uppercase text-center"
                    onclick="hideChoice()" value="No">
            </fieldset>
        </div>
        <div class="row">
            <div class="col-lg">
                <p> Job Description 
                    <br>
                    {{job_object.job_description}}
                    <br><br><br><br><br><br><br><br><br><br>
                </p>
            </div> 
        </div>
    </div>
    {% else %}
        <div class="container">
            <h3 style="color: #296F90;"> Please log in to view this information. </h3>
            <a class="nav-link" href="http://127.0.0.1:8000/accounts/login/">Log In</a>
        </div>
    {% endif%}

    <script>
        function displayChoice() {
            document.getElementById('choice').hidden = false
        }

        function hideChoice() {
            document.getElementById('choice').hidden = true
        }
    </script>
{% endblock%}