{% extends 'base.html' %}
{% block content %}
{% load static %}
        <header class="masthead" style="background-image: url({% static 'images/homebg.jpg' %});padding-bottom:375px;">
            <h1 style="color:#38B6A9;text-shadow: -1px 0px white, 1px 0px white, 0px -1px white, 0px 1px white;font-size:70px;">Welcome To Black Cyber Recruiter</h1>
            <br><br>
            <h3 class="masthead-subheading" style="color:#296F90;text-shadow: -1px 0px white, 1px 0px white, 0px -1px white, 0px 1px white;font-size:40px;">Connecting minorities with job opportunities</h3>
            <a class="btn btn-primary btn-xl text-uppercase text-center" style="width: 50%; height: 200%;" href="http://127.0.0.1:8000/listings/">Search Jobs</a>
        </header>
        <br>
        <div class="container">
            <div class="row">
              <div class="col-lg">
                <h4 class="text-center" style="color:#296F90;">Our Mission</h4>
                <p class="text-left">Proposed by Christabel Monica Ugbang Agbonkonkon, Black Cyber Recruiter (BCR) is dedicated to 
                    connecting blacks and other minorities with job opportunities. BCR simplifies the job search 
                    and application process to make finding your dream job easier. <br> 
                    <b>For Applicants:</b> Application deadlines and wage ranges are required for each job listing, and are 
                    shown in search results. Other important information such as relocation assistance and if the 
                    application requires extra documents, other than your resume, is shown at the top of each job 
                    listing.<br> 
                    <b>For Employers:</b> BCR also makes it easy for employers to add, update, and delete job listings, 
                    while also making them easy to view, with our simple job listing form. 
                </p>
              </div>
              <div class="col-lg">
                <h4 class="text-center" style="color:#296F90;">Featured Jobs</h4>
                <div class="containter"> 
                    <ul class=""  style="list-style-type: none;">
                    {% for job in featured %} 
                            <li>
                                <article>
                                    <a class='row font-weight-bold' style="font-size: 18px;" href="{% url 'post' job_title=job.job_title jobListing_id=job.id %}">
                                     {{ job.job_title }}
                                    </a> 
                                        <div class="row">
                                        <div class="col-auto-4 mr-auto">
                                            <p style="font-size: 13px;">Employer: {{job.employer}}</p>
                                        </div>
                                        <div class="col-auto-4 mr-auto">
                                            <p style="font-size: 13px;">Location: {{job.job_city}}, {{job.job_state}}</p>
                                        </div>
                                        <div class="col-auto-4 mr-auto">
                                            <p style="font-size: 13px;">Deadline: {{job.deadline_date}}</p>
                                        </div>
                                    </div>
                                </article>
                            <li>
                    {% endfor %}  
                    </ul>
                </div>
              </div>
{% endblock %}




{% comment %} 

        <ul class="text-left"  style="list-style-type: none;">
            {% for f in featured %} 
                    <li>
                        <article>
                            <div class="conatiner">
                                    <div class="row">
                                        <div class="col-auto">
                                            <p>Employer: {{job.employer}}</p>
                                        </div>
                                        <div class="col-auto">
                                            <p>Location: {{job.job_city}}, {{job.job_state}}</p>
                                        </div>
                                        <div class="col-auto">
                                            <p>Deadline: {{job.deadline_date}}</p>
                                        </div>
                                    </div> {% endcomment %}