
{% extends 'base.html' %}
{% block content %}
<header>
    {% csrf_token %}


    {% if message == "Success"%}
        <a style="width: 50%;" class='a_btn' href="http://127.0.0.1:8000/accounts/logout/">Sign In</a>
    {%else%}

    <div class="container">
        <h1 style="color:#4E9CAF;">{{message}}</h1>
        <form name="form" method="post" action="{% url 'enter' %}">
        {% csrf_token %}
            <label for='first'>First Name:</label>
            <input type="text" name='first' id='first'>
            <br><br>
            <label for='last'>Last Name:</label>
            <input type="text" name='last' id='last'> 
            <br><br>
            <label for='password'>Password:</label>
            <input type="password" name='password' id='password'>
            <br><br>
            <label for='confirmpassword'>Confirm Password:</label>
            <input type="password" name='confirmpassword' id='confirmpassword'>
            <br><br>
            <label for='email'>Email Address:</label>
            <input type="email" name='email' id='email'> 
            <br><br>     
            <input hidden name='sup_type' id='sup_type' value = {{message}}>
            <button class="btn btn-primary btn-lg text-center a_btn" 
            style="width: 25%;" type="submit">Sign Up</button>
        </form>
        <br><br><br><br><br><br><br>
    </div>
    {%endif%}
</header>

<!-- TODO add form for submitting email, password, confirm password, first name, last name -->



{% endblock %}